@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700,900');
html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: $fontMont;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container--index {
  text-align: center;
  display: flex; 
  align-items:center;
  width: 100%;
  margin: 0 auto;
}
.container--logo {
  min-height: 400px;
}
.logo, .bio-pic {
  display: block;
  margin: 0 auto;
}

.bio {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 100%;    
  padding: 0 10px;
}
.bio-pic {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}